body{
    background-color: #bfe4f1;
}
h1{
    color: orangered;

}
#button{
    background-color: #d83f87;
    color: white;
}
.abc{
    color: rgb(0, 0, 0);
}
#main{
    background-color:#bfe4f1 ;
}
